body{
    background-color: #23252C;
}
img{
    height: 317px;
    width: 317px;  
}
.info-cont{
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Inter', sans-serif;
}
#name{
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
}
#job{
    margin-top: -15px;
    color: #F3BF99;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15.49px;
}
#site{
    margin-top: -2px;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15.36px;
}
#email{
    border: none;
    width: 247px;
    height: 24px;
    background-image: url('images/Icon.png');
    background-repeat: no-repeat;
    background-position: 80px center;
}
.about{
    display: flex;
    flex-direction: column;
    max-width: 317px;
    background-color: #1A1B21;
    
}
.about > h1{
    margin-left: 35px;
    color:white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.about > h5{
    margin-left: 35px;
    margin-top: -5px;    
    margin-right: 10px;
    font-weight: 400;
    color: white;
    font-size: 10.24px;
    line-height: 18.36px;
}
.super{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.foot{
    min-width: 317px;
    max-width: 317px;
    display:flex;
    padding-top:10px;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #161619;
}
.imgz{
    width:25px;
    height:25px;
    padding-left: 15px;
    padding-right: 15px;
}